*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(148, 132, 132);
}

h1{
    font-size: 36px;
    color: #fff;
    text-align: center;
}
h2{
    font-size: 30px;
    text-align: center;
    justify-content: center;
}
h3{
    color: blanchedalmond;
    font-size: 30px;
}
ul{
    list-style-type: none;
}
ul > li{
    font-size: 28px;
    padding: 10px;
}
ul > li:hover{
    font-size: 30px;
    font-weight: 700;
    color: rgb(105, 40, 165);
}
.container{
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
.header_inner{
    width: 100%;
    height: 150px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_inner{
    width: 100%;
    display: flex;
}

.aside_left{
    width: 30%;
    height: 700px;
    padding: 20px 40px;
    background-color: yellow;
}

.aside_right{
    width: 70%;
    height: 700px;
    padding: 25px;
    background-color: rgb(112, 35, 112);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

img{
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://wordpress-developer.pp.ua/wp-content/uploads/flexbox-css.png");
    height: 400px;
    width: auto;
}

.article_botton{
    display: flex;
    background-color: rgb(112, 35, 112);
    width: auto;
    height: 700px;
    padding: 10px 40px;
    flex-flow: row nowrap;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

.article_block{
    background-color: black;
    height: 140px;
    width: 140px;
}
.article_block:hover{
    background-color: rgb(70, 23, 70);
    height: 165px;
    width: 165px;
}

.container1{
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
.footer_inner{
    width: 100%;
    height: 150px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
